<% include partials/header %>


<div class="ui main">

  <h1>Index Page</h1>

  <% books.forEach(function(book){ %>
    <h1><%= book.title %></h1>
    <img src="<%= book.image %>" alt="" />
    <p>Published: <%= book.published.toDateString %>. <span>Rating <%= book.rating%> stars out of 5</span></p>
    <p>
      <%= book.body %>
    </p>
    <div class="extra">
    <a class="ui floated basic blue button" href="/books/<%= book._id %> ">
      Read More
      <i class='right chevron icon'></i>
    </a>
  <% }) %>

</div>

<% include partials/footer %>
